#resumendecompra {
    width: 700px;
    height: 200px;
    text-align: center;
}

.met_img {
    margin: -80px 700px 0px 1px;
    height: 120px;
    width: 250px;
}

#titlecard {
    margin: 20px 0px 0px 100px;
}

#x {
    margin: 0px 0px 0px -20px;
}

#ref {
    margin: 0px 0px 0px 40px;
}

.basu_img {
    margin: -130px -305px 0px 290px;
    height: 20px;
    width: 20px;
}

#card-siu {
    width: 700px;
    height: 30px;
}

#prog {
    margin: 0px 0px 0px 75px;
    width: 295px;
    height: 30px;
}

.suma_img {
    margin: -314px -405px -32px 490px;
    height: 40px;
    width: 40px;
}

.moto_img {
    margin: -890px -470px -30px -92px;
    height: 60px;
    width: 60px;

}

#resu {
    margin: -300px 350px -150px 740px;
    width: 400px;
    height: 550px;
}

#descu {
    margin: 15px 0px 0px -11px;
    width: 399px;
    height: 45px;
}

#resumen {
    margin: 13px 0px 2px 0px;
    font-weight: bold;
    font-size: 20px;
}

#u {
    margin: 15px 0px 0px 0px;
    width: 80px;
    height: 100px;
}

#btn-quiero {
    margin: -44px 63px 0px 295px;
    width: 100px;
    height: 37px;
    border-radius: 40px;
    background-color: rgb(208, 255, 36);
    font-size: 13px;
    border: rgb(208, 255, 36);
}

.des {
    margin: -64px 0px 0px 0px;
    font-size: 12px;
}


.porce {
    margin: -30px -398px -27px 102px;
    height: 27px;
    width: 27px;
}

#cupon {
    margin: -2px -407px 0px -236px;
    height: 27px;
    width: 267px;
    border-radius: 12px;
    border: beige;
}

#btn-canje {
    margin: 19px -104px 2px 313px;
    height: 28px;
    width: 66px;
    background-color: chartreuse;
    font-weight: bold;
    border: chartreuse;
    border-radius: 25px;
}

#value {
    margin: -20px 8px 3px 80px;
}

#prod {
    margin: -7px 50px 2px 5px;
}

#canv {
    margin: -20px 8px 3px 80px;
}

#cantp {
    margin: -1px 8px -31px 5px;
}

#separar {
    margin: -12px 8px 3px 3px;
}

#separar2 {
    margin: -5px 8px 3px 3px;
}

#separar1 {
    margin: -5px 8px 3px 3px;
}

#cuadro {
    margin: -23px 20px -17px 290px;
    width: 75px;
    height: 34px;
    background: azure;
    border-color: rgb(0, 0, 0);
}

#maximo {
    margin: 40px 0px 0px 85px;
}

#costo {
    margin: -2px 8px 0px 5px;
}

#vado {
    margin: -17px 15px 3px 80px;
}

#total {
    margin: -5px 70px 3px 30px;
    font-weight: bold;
}

#tova {
    margin: -17px 29px 3px 10px;
    font-size: 20%;
    font-weight: bold;
}

#btn-cance {
    margin: 35px -3px 0px 15px;
    border-radius: 35px;
    height: 30px;
    width: 130px;
}

#btn-pagar {
    margin: 60px -17px -30px 73px;
    border-radius: 35px;
    height: 30px;
    width: 130px;
}

#cuadro1 {
    margin: -23px 20px -17px 195px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(0, 102, 255);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#cuadro2 {
    margin: -40px 27px 41px 492px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(187, 224, 255);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#cuadro3 {
    margin: -80px 27px 71px 773px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background:  rgb(223, 223, 223);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#cuadrola1 {
    margin: -40px 3px -38px 225px;
    width: 295px;
    height: 33px;
    border-radius: 100px;
    background: rgb(143, 181, 238);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;

}

#cuadrola2 {
    margin: -2px 0px 7px 505px;
    width: 280px;
    height: 33px;
    border-radius: 100px;
    background:rgb(223, 223, 223);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;

}