.container {
    margin: 88px 0px 0px 173px;
    width: 835px;
    height: 479px;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    background-color: #a9a9a94a;
}
#mensaje{
    color: #2d90e5;
    margin: 42px 0px -58px 338px;
    font-weight: bold;
    font-size: 28px;
}
h1{
    margin: 18px 0px -23px 66px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(146, 146, 146, 0.822);
}
p{
    margin: 10px 0px 0px 66px;
    font-size: 13px;
}

#colaborador{
    margin: 72px 0px 0px 290px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#colaboradorlogo {
    margin: -60px 0px 0px 427px;
    width: 50px;
    height: 30px;
}
#circuloinfo{
    margin: -483px 0px 0px 772px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #2d90e5;
    border: #2d90e5
}