.visa {
    margin: 10px 0px 10px 50px;
    width: 50px;
    height: 35px;
    border-radius: 10%;
}

.masterd {
    margin: 10px 0px 10px 0px;
    width: 65px;
    height: 38px;
    border-radius: 7%;
}

.pse {
    margin: 10px 0px 10px 0px;
    width: 45px;
    height: 42px;
}

.pay {
    margin: 10px 0px 10px 30px;
    width: 70px;
    height: 40px;
}

.efec {
    margin: 10px 0px 10px 30px;
    width: 75px;
    height: 60px;
}

#titledecard {
    text-align: center;
    margin: -16px;
    font-size: 14px;
    width: 334px;
    height: 40px;
    background-color: darkgray;
    line-height: 40px;
}

#resumendecompra {
    width: 335px;
    border-radius: 0%;

}

#refer {
    font-weight: 600;
}

#descrip {
    font-weight: 600;
}

#cant {
    font-weight: 600;
}

#TotalN {
    font-weight: 600;
}

#lider {
    margin: 80px 0px 0px 100px;
}

#cuadro1 {
    margin: -23px 20px -17px 195px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(0, 102, 255);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#cuadro2 {
    margin: -40px 27px 41px 492px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(0, 102, 255);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#cuadro3 {
    margin: -80px 27px 71px 773px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(223, 223, 223);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#cuadrola1 {
    margin: -40px 3px -38px 225px;
    width: 295px;
    height: 33px;
    border-radius: 100px;
    background: rgb(143, 181, 238);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;

}

#cuadrola2 {
    margin: -2px 0px 7px 505px;
    width: 280px;
    height: 33px;
    border-radius: 100px;
    background: rgb(143, 181, 238);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;

}
#resu{
    margin: 131px 0px 0px 0px;
}
#recu{
    margin: 0px 0px 0px -50px;
}
.ventana{
    background: black;
    width: 30%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 40%;
}
/*diseño del modal de seleccion de metodos de pago*/
