* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #db8046;
}

body,
.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    /*ESTA ES LA VENTANA EMERGENTE*/
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 550ms ease;
    opacity: 0;
    visibility: hidden;

}

#btn-modal:checked~.modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    width: 600px;
    height: 436px;
    margin: 260px 0px 0px 44px;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
    border-radius: 20px;
}

#btn-modal:checked~.modal .contenedor {
    transform: translateY(-40%);
}

.contenedor header {
    padding: 1px;
    background: rgb(75, 183, 255);
    color: #fff;
    border-radius: 10px;
}

.contenedor label {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}

#btn-modal {
    display: none;
}

.lbl-modal {
    background: #fff;
    height: 45px;
    width: 90px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#bolita-1 {
    /*CUADRADOS QUE ESTAN CERCA A LA X*/
    margin: 3px 0px 7px 6px;
    width: 31px;
    height: 28px;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#bolita-2 {
    margin: -35px 0px 2px 58px;
    width: 31px;
    height: 28px;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#bolita-3 {
    margin: -30px 0px 3px 110px;
    width: 31px;
    height: 28px;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#circulo {
    margin: -35px 0px 18px 566px;
    width: 32px;
    height: 33px;
    border-radius: 100px;
    background: rgb(173, 173, 173);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: rgb(255, 255, 255);
}

#seleccion {
    margin: 9px 0px 7px 196px;
    width: 197px;
    height: 29px;
    border-radius: 100px;
    background: rgb(223, 223, 223);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;

}

#tarjetas {
    margin: -4px 0px 7px 28px;
    width: 552px;
    height: 67px;
    background: rgb(223, 223, 223);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;


}

#visa {
    /*IMG DE VISA*/
    margin: 26px 0px 0px 57px;
    width: 47px;
    height: 29px;
}

#masterd {
    /*IMAGEN DE MASTERCARD*/
    margin: 1px 0px -5px 126px;
    width: 57px;
    height: 42px;
}

#pse {
    /*IMAGEN DE PSE*/
    margin: 10px 0px -5px 157px;
    width: 48px;
    height: 42px;
}

#exampleRadios1 {
    position: absolute;
    top: 112px;
    right: 524px;
    width: 22px;
    height: 27px;
    cursor: pointer;
}

#exampleRadios2 {
    position: absolute;
    top: 112px;
    right: 337px;
    width: 22px;
    height: 27px;
    cursor: pointer;
}

#exampleRadios3 {
    position: absolute;
    top: 112px;
    right: 124px;
    width: 22px;
    height: 27px;
    cursor: pointer;
}

#rectangulo1 {
    margin: -44px 0px 0px 10px;
    width: 12px;
    height: 43px;
    background: rgb(194, 194, 194);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#rectangulo2 {
    margin: -44px 0px 0px 195px;
    width: 12px;
    height: 43px;
    background: rgb(194, 194, 194);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#rectangulo3 {
    margin: -44px 0px 0px 410px;
    width: 12px;
    height: 43px;
    background: rgb(194, 194, 194);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    color: aliceblue;
}

#formu {
    display: none;
}

#cuadro-tarjet {
    margin: 23px 0px 0px 0px;
    width: 341px;
    height: 159px;
    background: rgb(241 241 241);
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    border-radius: 10px;
    color: aliceblue;
}

h1 {
    color: gray;
    font-size: 18px;
    position: absolute;
    top: 171px;
    right: 411px;
    font-family: initial;
    font-weight: bold;
}

#icono-tarjeta {
    width: 47px;
    height: 46px;
    position: absolute;
    top: 190px;
    right: 526px;
}

#num-tarjet {
    /*Caja de texto*/
    height: 29px;
    width: 204px;
    position: absolute;
    top: 197px;
    right: 314px;
    border-radius: 5px;
    border: gray;
}

#fecha {
    /*Titulo*/
    color: gray;
    font-size: 18px;
    font-family: initial;
    font-weight: bold;
    position: absolute;
    top: 251px;
    right: 381px;
}

#fecha-dia {
    height: 30px;
    width: 69px;
    position: absolute;
    top: 281px;
    right: 481px;
    border-radius: 5px;
    border: gray;
}

#fecha-año {
    height: 30px;
    width: 69px;
    position: absolute;
    top: 281px;
    right: 370px;
    border-radius: 5px;
    border: gray;
}

#salir {
    height: 20px;
    width: 18px;
    position: absolute;
    top: 173px;
    right: 327px;
    border-radius: 10px;
}

#salir-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 167px;
    right: 234px;
}

#visa1 {
    /*IMG DE VISA DENTRO DEL CONTENEDOR DE VALIDACION DE TARJETA*/
    position: absolute;
    top: 290px;
    right: 237px;
    width: 47px;
    height: 29px;
    border-radius: 10px;
}