.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}

.icon-car{
background-color: #1f1f1f;

}
div img{
width: 100px;
height:100px ;
position: absolute;
left: 50%;
top: 20%;
transform: translate(-50%,-50%);
-webkit-transform: translate(-50%-50%);
filter: invert(66%) sepia(96%) saturate(1679%) hue-rotate(178deg) brightness(101%) contrast(103%);

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: right;
    line-height:100px;
}





.container .btn-menu label{
 
    font-size: 25px;
    cursor: pointer;
    opacity: 90%;
}

.container .menu{
    float: right;
    line-height: 100px;
}

.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 300vh;
    top: 0; left: 0 ;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    float: right;
    width: 100%;
    max-width: 300px;
    background: #dcd5d5;
    height: 200vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(100%);
    opacity: 90%;
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}



.container-menu .cont-menu .btn-menu {
    float: left;
 
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/

/*botones de compra y cancelar*/
 .container-menu .cont-menu a {

    position:absolute;
    bottom:5px;
    right:10px;
    
   

 }
