.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.icon-car {
    background-color: #1f1f1f;

}

.img-fluid {
    position: relative;
}

.carrito-de-compras {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%-50%);
    filter: invert(66%) sepia(96%) saturate(1679%) hue-rotate(178deg) brightness(101%) contrast(103%);

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu,
.logo {
    float: right;
    line-height: 100px;
}





.container .btn-menu label {

    font-size: 25px;
    cursor: pointer;
    opacity: 90%;
}

.container .menu {
    float: right;
    line-height: 100px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 300vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;

}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    float: right;
    width: 100%;
    max-width: 400px;
    background: #dcd5d5;
    height: 200vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(100%);
    opacity: 90%;
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-right: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.container-menu .cont-menu .btn-menu {
    float: left;

    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
}

/*Fin de Menù lateral*/


button.compra,
button.cancelar,
button.editar{

    top: 540px;
    position: relative;
    margin: 0 5px 0 5px;
    padding: 10px;

    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;


    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;

}



button.editar{
top: 500px;
right: 55px;


}


button.compra:hover,
button.cancelar:hover,
button.editar:hover {
    background-color: #2eb5fd;
    box-shadow: 0px 15px 20px rgba(44, 162, 241, 0.4);
    color: #fff;

}

button:active {
    transform: translateY(-1px);
}

h6.compraSegura {
    text-align: center;
    position: relative;
    top: 560px;
    font-family: Arial, Helvetica, sans-serif;
    right: 30px;

}

h6.cantidad {
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    top: 420px;
    right: 95px;



}

input.cantidad {
    position: relative;
    top: 380px;
    left: 160px;
    width: 70px;
    border: 1px solid #2eb5fd;
}

input.cantidad:focus{

    outline: none;
}